* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
}
